#nav-bar{
margin-bottom: 10px;}
.btn:hover {
    color: #FFEB3B;
    text-decoration: initial;
}

.navbar-brand img{
    width: 25%;
}
header{
    margin-bottom: 0px;
}
.nav-link{
    font-weight: 600;
}
.carousel-item img{
    width: 989px;
    height: 309px;
}
#left{
    float: left;
    width: 50%;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

#right{
    float: left;
    width: 40%;
    margin-top: 10px;
}
#slider2 img{
     position: relative;
    left: 40%;
    top: 23px;
    width: 40%;
    height: 100px;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    margin-top: 23px; 
    float: left;
    
}
#align img{

    width: 40%;
    height: 100px;
    float: left;
}
.page-footer{
    clear: both;
}
#cen{
    margin: 10% 10% 10% 10%;
}
#cent{
     margin: 10% 10% 10% 10%;
}
#cente{
     margin: 10% 10% 10% 10%;
}
#centee{
     margin: 20% 10% 10% 13%;
}
#ali{
       margin: 15% 10% 0% 10%;
}
#alli{
       margin: 10% 10% 0% 10%;
}
#allli{
       margin: 10% 10% 0% 10%;
}